*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #ecfbff;
}

#contenedor{
    width: 90%;
    margin-left: 5%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#encabezado{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#tabla{
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}


#encabezado-tabla{
    color: black;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

tr{
    height: 150px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

img{
    width: 200px;
}

#pie{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1:hover{
    background-color: black;
}
