#encabezado {
    background-color: rgb(49, 176, 180);
}

#contenedor-numerosAleatorios {
    margin: 7em auto;
    background-color: burlywood;
    width: min(36em, 100%);
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0px 7px 20px 0px rgba(112,112,112,0.6);
}

#contenedor-numerosAleatorios h2 {
    margin: .5em 0;
}

#contenedor-numerosAleatorios select{
    width: 4em;
    height: 2.8em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: .3em;
    margin-top: .8em;
}

@media (min-width: 768px) {
    #contenedor-numerosAleatorios select{
        margin-left: .7em;
        margin-top: 0;
    }
}

.campo {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.2em;
}

.campoPares {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1.3em;
}

#porPares {
    color: black;
    background-color: antiquewhite;
    height: 2em;
    width: 5em;
    margin: .5em auto 0 auto;
    padding: .3em;
    border-radius: .3em;
}

#porImpares {
    color: black;
    background-color: antiquewhite;
    height: 2em;
    width: 5em;
    margin: .5em auto 0 auto;
    padding: .3em;
    border-radius: .3em;
}

.campoImpares {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1.5em;
}

.campoSimetrico {
    margin-top: 2em;
    margin-bottom: 2em;
}

.campoSimetrico label {
    font-size: 1.2em;
    font-weight: bold; 
}

#EsSimetrico {
    background-color: antiquewhite;
    width: 10em;
    height: 2em;
    margin: .5em auto 0 auto;
    padding: .3em;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: .3em;
}

#limite {
    width: 5.3em;
    margin-top: .5em;
    height: 2.2em;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: .3em;
}

#contenedor-valorNumeros {
    display: flex;
    justify-content: center;
}

#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
}

@media (min-width: 768px) {
    #botones {
        flex-direction: row;
        
    }
}

#btnLlenar {
    background-color: rgb(49, 176, 180);
    border: none;
    font-weight: bold;
    color: white;
    padding: .8em;
    font-size: 1.2em;
    border-radius: .5em;
}

#btnLlenar:hover {
    background-color: rgb(241, 241, 66);
    color: black;
    cursor: pointer;
}

#pie {
    background-color: rgb(49, 176, 180);
}

#pie p {
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.4em;
}